body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    background-color: #fff;
}
.container_principal{
    /* background-color: darkblue; */
   /* display:flex;
   flex-direction: column; */
   width: 100%;
}
.container_principal > header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* flex-direction: row; */
    /* background-color: darkolivegreen; */
    align-items: center;
    padding: 10px;
}
.container_principal > header figure{
    /* background-color: #ccc; */
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}
.container_principal > header figure img{
    margin: auto;
    width: 100%;
    height: auto;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    /* background-color: darkorchid; */
}
nav ul{
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: center;
    padding: 0;
    height: auto;
    margin:  0 5px;
}
nav ul li{
    height: auto;
    /* background-color: darkmagenta; */
    padding: 9px 0;
    margin: 0;
}
nav ul li:hover{
    background-color: rgba(17, 52, 167, 0.8)   
}
nav ul li a{
    padding: 10px 10px;
    font-weight:400;
    font-variant: small-caps;
    color: #fff;
    /* background-color: darkgreen; */
    margin: 0;
}
nav ul li a:hover{
    color: rgb(243, 235, 127);
}
nav ul li.btn_assinante{
    /* background-color: darkmagenta; */
    border-radius: 50px;
    border: 1px solid  rgb(127, 164, 243);
}
nav ul li.btn_assinante:hover{
    border: 1px solid  #fff;
}
nav ul li.btn_assinante a{
    color: rgb(127, 164, 243);
}
nav ul li.btn_assinante a:hover{
    color:#fff;
}
.container, .container-fluid{
    /* background-color: #f00;     */
    padding: 0;
    margin:0;
}


.content{
    background-color: #fff;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.banner{
    /* min-height: 400px; */
    /* background-color: darkolivegreen; */
    /* display: flex;
    flex-direction: column; */
}
.banner img,.box_2 img, .sobre img{
    margin: auto;
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}
.box_2{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.box_2 div{
    /* background-color: darkorange; */
    padding: 70px;
}
.box_3 div, .box_4 div{
    background-color: indigo;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fff;
}
.box_3 ul, .box_4 ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box_3 ul li, .box_4 ul li{
    /* background-color: darkorange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    text-indent: 13pt;
    padding: 5px;
}

/*========SERVICOS========*/
.box_4 h6, .box_3 h6{
    padding: 10px;
}
.box_4 ul{
    margin-top: 22px;
}
.box_4 ul li, .box_3 ul li{
    /* flex-direction: row; */
    /* display: block; */
    height: fit-content;
    border:1px solid rgba(255, 255, 255, 0.3);
    /* background-color: aqua; */
    margin: 5px;
    padding: 20px;
    box-sizing: content-box;
    /* flex-wrap: wrap; */
}
.box_4 ul li:hover, .box_3 ul li:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.box_3 ul li > i ,.box_4 ul li > i{
    font-size: 20pt;
}
.box_4 ul li div{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    padding: 5px;
}
.box_4 ul li a:hover{
    text-decoration: underline;
}
.box_4 ul li a, .box_4 ul li i, .box_3 ul li i{
    color: rgb(228, 213, 0);
    padding:2px;
    text-indent: 0;
}
.box_4 ul li p{
    color: #ccc;
}
/* .box_4 ul li i, .box_4 ul li h3, .box_4 ul li p {
    background-color: bisque;
    float: left;
} */
.box_planos{
    background-color: blueviolet;
    padding: 75px 0;
}
.box_planos > ul{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0;
    flex-wrap: wrap;
}
.box_planos > ul li{
    padding: 5px;
    background-color: #fff;
    margin: 5px;
    text-align: center;
    height: fit-content;
}
.box_planos > ul li h1{
    color: #fff;
    text-align: center;
    font-size: 15pt;
    background-color: rgb(224, 153, 20);
    padding: 5px;
}
.box_planos > ul li footer{
    text-align: center;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_planos > ul li footer span{
    color: rgb(224, 153, 20);
    font-weight: bold;
}
.box_planos > ul li footer a{
    /* border:1px solid #00f; */
    border-radius: 50px;
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
    background-color: rgb(224, 153, 20);
    font-weight: bold;
}
.box_planos > ul li ul{
    /* background-color: orangered; */
    /* list-style: circle; */
    margin: 0;
    padding: 0;
}
.box_duvidas{
    background-color: aquamarine;
}
.box_duvidas > header{
    /* background-color: crimson; */
    text-align: center;
}
.box_duvidas ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.box_duvidas ul li{
    width: 48%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: flex-start;
    height: fit-content;
}
.box_duvidas ul li>div, .box_duvidas ul li article{
    /* background-color: chartreuse; */
    margin: 5px;
}
.box_duvidas ul li>div{
    padding: 5px;
}
.box_duvidas ul li article header{
    /* background-color: crimson; */
    padding: 5px;
    margin: 0;
    height: fit-content;
}



form{
    padding: 5px;
    /* background-color: crimson; */
    margin: auto;
}
form div{
    padding: 5px;
}
form div label{
    margin: 5px 0;
}




.sobre{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: auto;
}
.sobre figure, .sobre>div{
    /* background-color: aquamarine; */
    padding: 5px;
}
.sobre figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cobertura{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contato{
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.contato form, .contato figure{
    /* background-color: darkmagenta; */
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rodape{
    /* background-color: cyan; */
    height: 100px;
    color:#fff;
    text-align: center;
}
.rodape ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.rodape ul li ul:last-child{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}    
.rodape ul li{
    margin: 5px;
    height: fit-content;
}
.rodape .logo_rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rodape .logo_rodape figure{
    width: 20%;
    height: auto;
}
.rodape .logo_rodape figure img{
    width: 100%;
    height: auto;
}
.volta_topo{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: cyan;
    cursor: pointer;
}
.volta_topo a{       
    /* background-color: khaki; */
    padding: 10px;
    margin: 2px;
    float: left;
}